.git/**
.github/**
.vscode/**
.vscode-test/**
node_modules/**
src/**
.gitignore
.yarnrc
.eslintrc.json
eslint.config.mjs
tsconfig.json
vsc-extension-quickstart.md
.vscode-test.mjs
yarn.lock
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
