.git/**
.github/**
.vscode/**
.vscode-test/**
.gitignore
.yarnrc
.eslintrc.json
eslint.config.mjs
tsconfig.json
vsc-extension-quickstart.md
.vscode-test.mjs
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/.vscode-test.*
src/**
